*, *::before, *::after {
  box-sizing: border-box;
}

.wrap {
  max-width: 1230px;
  margin: 0 auto 40px;
  padding: 0 30px;
}

body {
  background-color: rgb(218, 218, 218);
}

a {
  text-decoration: none;
  color: black;
}

.container {
  margin: 0 20px;
}